@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@plugin "daisyui";

@font-face {
  font-family: 'Anybody Variable';
  src: url('./assets/fonts/Anybody-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.font-anybody {
  font-family: 'Anybody Variable', sans-serif;
}

* {
  font-family: 'Anybody Variable', sans-serif;  
}